<header th:fragment="header">
    <img class="logo" src="/img/RankMyArtLogo.png" alt="RankMyArt Logo" onclick="window.location.href='/gallery'">
    <nav class="nav_links">
        <li><a href="#"> Leaderboard </a></li>
        <li><a href="/upload"> Upload </a></li>
        <li><a href="#"> Forum </a></li>
    </nav>
    <div class="user-actions">
        <a class="cta" href="/signup">
            <button> Log In </button>
        </a>
        <a href="/profile" class="profile-circle">
            <img src="https://i.pravatar.cc/45" alt="Profile Picture">
        </a>
    </div>
</header>