<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RankMyArt</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<header>
    <img class="logo" src="RankMyArtLogo.png" alt="RankMyArt Logo" onclick="window.location.href='index.html'">
    <nav class="nav_links">
        <li><a href="leaderboard.html"> Leaderboard </a></li>
        <li><a href="upload.html"> Upload </a></li>
        <li><a href="#"> Board </a></li>
    </nav>
    <a class="cta" href="signup.html"> <button> Sign Up </button> </a>
</header>

<div class="pin_container">
    <div class="card">
        <img src="100girlfriends.jpg" alt="Art 1">

        <div class="overlay">
            <div class="vote-controls">
                <div class="vote-icon upvote">
                    <img src="images/upvote.svg" class="icon-outline" alt="Upvote">
                    <img src="images/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
                </div>
                <span class="vote-count">123</span>
                <div class="vote-icon downvote">
                    <img src="images/downvote.svg" class="icon-outline" alt="Downvote">
                    <img src="images/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="1girlfriends.jpg" alt="Art 1">

        <div class="overlay">
            <div class="vote-controls">
                <div class="vote-icon upvote">
                    <img src="images/upvote.svg" class="icon-outline" alt="Upvote">
                    <img src="images/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
                </div>
                <span class="vote-count">123</span>
                <div class="vote-icon downvote">
                    <img src="images/downvote.svg" class="icon-outline" alt="Downvote">
                    <img src="images/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="0.1girlfriends.jpg" alt="Art 1">

        <div class="overlay">
            <div class="vote-controls">
                <div class="vote-icon upvote">
                    <img src="images/upvote.svg" class="icon-outline" alt="Upvote">
                    <img src="images/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
                </div>
                <span class="vote-count">123</span>
                <div class="vote-icon downvote">
                    <img src="images/downvote.svg" class="icon-outline" alt="Downvote">
                    <img src="images/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="50girlfriends.jpg" alt="Art 1">

        <div class="overlay">
            <div class="vote-controls">
                <div class="vote-icon upvote">
                    <img src="images/upvote.svg" class="icon-outline" alt="Upvote">
                    <img src="images/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
                </div>
                <span class="vote-count">123</span>
                <div class="vote-icon downvote">
                    <img src="images/downvote.svg" class="icon-outline" alt="Downvote">
                    <img src="images/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="25girlfriends.jpg" alt="Art 1">
    </div>

    <div class="card">
        <img src="10girlfriends.jpg" alt="Art 1">
    </div>

    <div class="card">
        <img src="5girlfriends.jpg" alt="Art 1">
    </div>

    <div class="card">
        <img src="Meme.jpg" alt="Art 1">
    </div>

    <div class="card">
        <img src="10girlfriends.jpg" alt="Art 1">
    </div>

    <div class="card">
        <img src="5girlfriends.jpg" alt="Art 1">
    </div>

    <div class="card">
        <img src="Meme.jpg" alt="Art 1">
    </div>

    <div class="card">
        <img src="10girlfriends.jpg" alt="Art 1">
    </div>

</div>

<script src="../static/js/voteControls.js" defer></script>
</body>

</html>