<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery | RankMyArt</title>
  <link rel="stylesheet" href="/css/indexstyle.css">
</head>

<body>
  <div id="preloader">
    <div class="loader"></div>
  </div>
  
  <header>
    <img class="logo" src="/img/RankMyArtLogo.png" alt="RankMyArt Logo" onclick="window.location.href='index.html'">
    <nav class="nav_links">
      <li><a href="/index.html"> Leaderboard </a></li>
      <li><a href="/upload.html"> Upload </a></li>
      <li><a href="#"> Forum </a></li>
    </nav>
    <a class="cta" href="signup.html"> <button> Sign Up </button> </a>
  </header>

  <div class="top-three"></div>

  <div class="pin_container">
    <div class="card">
      <img src="/img/100girlfriends.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>
    
    <div class="card">
      <img src="/img/1girlfriends.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="/img/0.1girlfriends.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="/img/50girlfriends.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>
    
    <div class="card">
      <img src="/img/25girlfriends.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="/img/10girlfriends.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="/img/5girlfriends.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>
    
    <div class="card">
      <img src="/img/Meme.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="/img/10girlfriends.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="/img/5girlfriends.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="/img/Meme.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="/img/10girlfriends.jpg" alt="Art 1">

      <div class="overlay">
        <div class="vote-controls">
          <div class="vote-icon upvote">
            <img src="/votes/upvote.svg" class="icon-outline" alt="Upvote">
            <img src="/votes/upvote-fill.svg" class="icon-fill" alt="Upvote Filled">
          </div>
          <span class="vote-count">126</span>
          <div class="vote-icon downvote">
            <img src="/votes/downvote.svg" class="icon-outline" alt="Downvote">
            <img src="/votes/downvote-fill.svg" class="icon-fill" alt="Downvote Filled">
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <script src="/js/index.js" defer></script>
  
  <script>
    window.addEventListener("load", () => {
      const preloader = document.getElementById("preloader");
      preloader.style.opacity = "0";
      setTimeout(() => {
        preloader.style.display = "none";
      }, 600); // matches the CSS transition
    });
  </script>
</body>

</html>